.article-list {
  color: #313437;
  background-color: #fff;
}

.article-list p {
  color: #7d8285;
}

.article-list h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.article-list .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  min-height: 425px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

#row_speakers {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 992px) {
  iframe {
    height: 300px;
    width: 500px;
    float: left;
  }
}

#img_speakers {
  width: 150px;
  height: 190px;
}

#tadit_row {
  float: left;
}

#count {
  width: 50%;
  float: left;
  height: 200px;
  background: url(../../assets/img/photos.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#timer_con {
  text-align: center;
  width: 100%;
  margin: 30px;
  margin-top: 0px;
  padding: 50px;
  height: 350px;
  padding-top: 0px;
}

#hack {
  width: 100%;
  font-family: cursive;
  color: #f17707;
}

#oned {
  width: 20%;
}

#twod {
  width: 20%;
}

#threed {
  width: 20%;
}

#fourd {
  width: 20%;
}

#days {
  padding: 0px;
  border-radius: 50%;
  background: rgb(114,24,230);
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: auto;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
  width: 100%;
}

#pcolor {
  color: rgb(213,97,14);
  font-size: 20px;
}

#start {
  height: 350px;
  width: 100%;
}

#timer {
  height: 350px;
  width: 50%;
  float: left;
}

body {
  background: url(../../assets/img/newback.png);
}

#head_timer {
  font-family: monospace;
  font-weight: 600;
}

#para_hack {
  color: white;
}

#so_waiting {
  color: white;
  margin-left: 20px;
}

.photo-gallery {
  background: url(../../assets/img/newback.png);
  background-size: cover;
}

#head_spon {
  color: white;
  font-size: 40px;
}

.row.photos {
  margin-top: 0px;
}

@media (min-width: 992px) {
  #imgg {
    height: 420px;
    width: 80%;
  }
}

#agenda {
  color: white;
  text-align: center;
  background-image: url(../../assets/img/photos.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}

#para {
  font-size: 40px;
  font-weight: 800;
}

#pa {
  font-size: 20px;
}

