#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

@media (max-width:767px) {
  .clock-wrapper {
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

