.photo {
  color: white;
  background-color: white;
}

.photo p {
  color: #7d8285;
}

.photo h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo .intro p {
  margin-bottom: 0;
}

.photo .photos {
  padding-bottom: 20px;
}

.photo .item {
  padding-bottom: 30px;
}

