.photo-gallery {
  float:left;
  margin-left: 170px !important;
}

 .intro {
  font-size: 50px;
 width: 100%;
 padding: 0 30px;
 color: rgb(159,244,209);
  text-align: center;
}



@media(max-width:768px) {
  
   .intro {
    font-size: 35px;
   width: 100%;
   padding: 0px;
   color: rgb(159,244,209);
    text-align: center;
  }
  .photo-gallery{
    
    padding: 10px 30px;
  }
 
}

 


.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.row.photos{
  background-color: white;
  padding-left: 0px;

}
#git,#elastic,#buil,#digi{
  margin-top: -50px;
}
#dev{
  margin-top: -130px;
}


@media(min-width: 768px){
  #dev,#git,#elastic,#digi{
    margin-top: 0px;
  }
  #build{
    padding-top: 100px;
    margin-top: 0px;
  }
}


#appwrite{
  margin-top: -50px;
    margin-bottom: 40px;
}


@media(min-width: 768px){
  #appwrite{
    margin-top: 25px;
  }

